@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; margin: 0; padding: 0; outline: 0; }
  html{ font-size: 62.5%; } /* A cada 1rem vai considerar 10px */
  body{ font-size: 16.6px; }
  
html, body {
  height:100vh;
  width: 100%;
  text-rendering: optimizelegibility;
}

body {
  font-family: 'Poppins', sans-serif;
}

.titulo-romantico {
  font-family: 'Great Vibes', cursive;
}

::-webkit-scrollbar{width: 0.6vw; height: .6vh; background: #577024} 
::-webkit-scrollbar-thumb{background: linear-gradient(to bottom, #577024, #577024); border-radius: 5px;}

*::selection  {
  background: #3a8d6775;
} 
